<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <p style="font-size:12px">Minimum 12 caractères:</p>
  <mat-form-field>
  <input matInput type="text" formControlName="titre" placeholder="Titre de l'article">
  </mat-form-field>
  <p style="font-size:12px">Minimum 100 caractères:</p>
  <mat-form-field>
    <textarea matInput formControlName="contenu" placeholder="Contenu de l'article">

    </textarea>
  </mat-form-field>

  <hr>
  <button mat-button [disabled]="!profileForm.valid">Créer cette actualité</button>
</form>
